################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solutie/.vs/Solutie/FileContentIndex
