################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solutie/.vs/Solutie/FileContentIndex
/Seminar2/.vs/Seminar2/FileContentIndex
/.vs
/Seminar2/.vs/Seminar2/v17
/Seminar2/Seminar2/.vs
